//Подключение шрифта через препроцессор
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular);

// Файл обнуляющих стилей
@import "nullindex.scss";

// Переменные
//$fz:80px;
//$color_1:#14046d;

// Шаблоны, для приминения вводи @extend
//%tplborder {border-bottom: 3px dashed red;}

// Миксин, для применения вводи @include
//@mixin fontz($f, $c){
//   font-size: $f;
//   color: $c;
//}
//------------------------------------------

.main {
   margin: 100px 0 auto;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 222px;
   font-family: 'Montserrat';
}
h2 {
   font-size: 50px;
   font-weight: 700;
   color: #000;
}
.settings {
   // width: 100%;
   display: flex;
   flex-direction: column;
   gap: 42px;
   @media (max-width: 1182px) {
      width: 100%;
      max-width: 393px;
      align-items: center;
   }
}
input {
   padding: 12px 22px;
   max-width: 393px;
   width: 100%;
   height: 54px;
   border-radius: 15px;
   border: 1px solid #000;
   background: #FFF;
   font-size: 25px;
}
.mem {

   .select {
      padding: 0 22px;
      max-width: 393px;
      width: 100%;
      height: 54px;
      border-radius: 15px;
      border: 1px solid #000;
      background: #FFF;
      font-size: 25px;
   }
}
.title {
   margin: 0 0 13px 0;
   color: #000;
   font-size: 35px;
}
.text__top {
   width: 100%;
}
.text__bottom {
   width: 100%;
}
.preview {
   display: flex;
   flex-direction: column;
   gap: 76px;
   @media (max-width: 1182px) {
      width: 100%;
      max-width: 393px;
      align-items: center;
   }
}
.picture {
   max-width: 568px;
   max-height: 568px;
   position: relative;
   color: #FFF;
   font-family: 'IBM Plex Sans';
   font-size: 35px;
   word-wrap: break-word;
   border: 1px solid gray;
   border-radius: 15px;
   overflow: hidden;
   .error {
      display: none;
      padding: 10px 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      background-color: rgba(255, 0, 0, 0.8);
      border: 1px solid #000;
      border-radius: 10px;
      z-index: 1;
   }
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
   .previewtext__top {
      padding: 0 15px;
      width: 100%;
      text-align: center;
      text-shadow: 0 0 7px #000;
      position: absolute;
      top: 22px;
      left: 50%;
      transform: translate(-50%);
   }
   .previewtext__bottom {
      width: 100%;
      text-align: center;
      text-shadow: 0 0 7px #000;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%);
   }
}
@media (max-width:428px) {
   .main {
      margin: 0;
      padding: 20px 0 0 0;
      .select {
         font-size: 16px;
      }
   }
   .main, .settings, .preview {
      gap: 15px;
   }
   h2 {
      font-size: 24px;
   }
   .title {
      margin: 0 0 5px 0;
      font-size: 16px;
   }
   input {
      font-size: 16px;
   }
}